@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Zilla+Slab:wght@300&display=swap');

body {
    font-family: Playfair Display, sans-serif;
    font-weight: 300;
    color: dimgray
}

/* heading and logo */

h1 {
    font-family: Zilla Slab, sans-serif;
    letter-spacing: 4px;
    color: black
}

header a {
    text-decoration: none;
}

#logo {
    text-align: center;
    text-decoration: none;
    font-size: 300%;
}

/* hero image plantbased*/

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/plant-based-hero.jpg ) no-repeat center center;
    background-size: cover;
}

/* Menu nav links */

#menu {
    font-size: x-large;
    letter-spacing: 4px;
    margin: 5px auto;
    text-align: center;
}

#menu li {
    display: inline-block;
    margin: 5px;
    text-align: center;
    padding: 40px;
}

#logo {
    line-height: 75px;

}

#menu a {
    text-decoration: none;

}

/*introduction  section*/

#introduction {
    height: 300px;



}

.introduction-text-center {
    text-align: center;
    font-family: Playfair Display, sans-serif;
    font-size: 300%;
    letter-spacing: .2rem;
}

.intro-text {
    font-family: zilla slab, sans-serif;
    font-size: x-large;
    font-weight: bold;
}


/*restaurant review section*/
#restaurant-review {
    height: 600px;
    font-family: Zilla Slab, sans-serif;
}

#restuarant-left {
    padding-top: 30px;
    width: 49%;
    float: left;


}



.restaurant-right-image {
    padding-top: 30px;
    height: 600px;
    width: 49%;
    float: right;
    background-color: #cccc;
    background: url('../images/two\ monkeys\ hamburger.jpg') no-repeat center center;
    background-position: cover;

}